{
  "presets": [
    ["@babel/preset-env", { "useBuiltIns": "usage", "corejs": 3, "targets": "> 1%, not dead" }],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-optional-chaining",
    "react-hot-loader/babel",
    "@babel/plugin-proposal-class-properties",
    "syntax-dynamic-import"
  ]
}
